In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import gmaps
from api_keys import gmap_key
import gmaps
import requests
gmaps.configure(api_key=gmap_key)

In [2]:
weather_df = pd.read_csv('Weather.csv')

In [3]:
weather_df

,Unnamed: 0,weather,base,visibility,dt,timezone,id,name,cod,coord.lon,...,wind.gust,clouds.all,sys.country,sys.sunrise,sys.sunset,sys.type,sys.id,snow.1h,message,rain.1h
0,0,"[{'id': 803, 'main': 'Clouds', 'description': ...",stations,10000.0,1.636826e+09,10800.0,1082243.0,Ambilobe,200,49.0500,...,14.85,79.0,MG,1.636769e+09,1.636815e+09,NaN,NaN,NaN,NaN,NaN
1,1,"[{'id': 804, 'main': 'Clouds', 'description': ...",stations,10000.0,1.636826e+09,25200.0,1507390.0,Dikson,200,80.5464,...,18.72,99.0,RU,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN
2,2,"[{'id': 801, 'main': 'Clouds', 'description': ...",stations,10000.0,1.636826e+09,7200.0,3369157.0,Cape Town,200,18.4232,...,5.01,20.0,ZA,1.636775e+09,1.636824e+09,2.0,2033665.0,NaN,NaN,NaN
3,3,"[{'id': 800, 'main': 'Clear', 'description': '...",stations,10000.0,1.636826e+09,14400.0,286621.0,Salalah,200,54.0924,...,2.71,6.0,OM,1.636770e+09,1.636811e+09,NaN,NaN,NaN,NaN,NaN
4,4,"[{'id': 804, 'main': 'Clouds', 'description': ...",stations,10000.0,1.636826e+09,34200.0,2063039.0,Port Keats,200,129.5500,...,16.06,99.0,AU,1.636836e+09,1.636882e+09,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542,592,"[{'id': 802, 'main': 'Clouds', 'description': ...",stations,10000.0,1.636826e+09,28800.0,1727326.0,Bangar,200,120.4243,...,3.89,36.0,PH,1.636841e+09,1.636882e+09,NaN,NaN,NaN,NaN,NaN
543,593,"[{'id': 804, 'main': 'Clouds', 'description': ...",stations,10000.0,1.636826e+09,3600.0,2941150.0,Burgst√§dt,200,12.8167,...,7.67,95.0,DE,1.636784e+09,1.636817e+09,2.0,2010398.0,NaN,NaN,NaN
544,594,"[{'id': 800, 'main': 'Clear', 'description': '...",stations,10000.0,1.636826e+09,28800.0,1801792.0,Luoyang,200,112.4536,...,4.47,0.0,CN,1.636845e+09,1.636882e+09,NaN,NaN,NaN,NaN,NaN
545,595,"[{'id': 804, 'main': 'Clouds', 'description': ...",stations,10000.0,1.636826e+09,25200.0,1508260.0,Novobirilyussy,200,90.6661,...,22.53,100.0,RU,1.636854e+09,1.636883e+09,NaN,NaN,NaN,NaN,NaN
546,596,"[{'id': 804, 'main': 'Clouds', 'description': ...",stations,10000.0,1.636826e+09,18000.0,1337619.0,Ugoofaaru,200,73.0000,...,29.30,95.0,MV,1.636765e+09,1.636808e+09,NaN,NaN,NaN,NaN,NaN

In [4]:
weather_df.columns

Index(['Unnamed: 0', 'weather', 'base', 'visibility', 'dt', 'timezone', 'id',
       'name', 'cod', 'coord.lon', 'coord.lat', 'main.temp', 'main.feels_like',
       'main.temp_min', 'main.temp_max', 'main.pressure', 'main.humidity',
       'main.sea_level', 'main.grnd_level', 'wind.speed', 'wind.deg',
       'wind.gust', 'clouds.all', 'sys.country', 'sys.sunrise', 'sys.sunset',
       'sys.type', 'sys.id', 'snow.1h', 'message', 'rain.1h'],
      dtype='object')

In [5]:
locations1 = weather_df[['coord.lat', 'coord.lon']].astype(float)
print(locations1)

     coord.lat  coord.lon
0     -13.2000    49.0500
1      73.5069    80.5464
2     -33.9258    18.4232
3      17.0151    54.0924
4     -14.2500   129.5500
..         ...        ...
542    16.8936   120.4243
543    50.9167    12.8167
544    34.6836   112.4536
545    56.9514    90.6661
546     5.6667    73.0000

[547 rows x 2 columns]

In [6]:
humidity = weather_df['main.humidity'].astype(float)

In [7]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations1, weights=humidity, dissipating=False, max_intensity=100, point_radius=2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
vacation_df = weather_df.loc[weather_df['clouds.all'] == 0]
vacation_df = vacation_df.loc[vacation_df['main.temp_max'] <80]
vacation_df = vacation_df.loc[vacation_df['main.temp_max'] >70]
vacation_df = vacation_df.loc[vacation_df['wind.speed'] <10]
# & weather_df['main.temp_max'] < 80 & weather_df['main.temp_max'] > 70 & weather_df['wind.speed'] < 10]]

In [9]:
vacation_df

,Unnamed: 0,weather,base,visibility,dt,timezone,id,name,cod,coord.lon,...,wind.gust,clouds.all,sys.country,sys.sunrise,sys.sunset,sys.type,sys.id,snow.1h,message,rain.1h
26,29,"[{'id': 800, 'main': 'Clear', 'description': '...",stations,10000.0,1.636826e+09,10800.0,290030.0,Doha,200,51.5333,...,NaN,0.0,QA,1.636772e+09,1.636811e+09,1.0,7614.0,NaN,NaN,NaN
254,280,"[{'id': 800, 'main': 'Clear', 'description': '...",stations,10000.0,1.636826e+09,-21600.0,4726521.0,San Patricio,200,-97.5169,...,11.10,0.0,US,1.636808e+09,1.636847e+09,2.0,2040001.0,NaN,NaN,NaN
266,293,"[{'id': 800, 'main': 'Clear', 'description': '...",stations,10000.0,1.636826e+09,-21600.0,4726206.0,San Antonio,200,-98.4936,...,3.85,0.0,US,1.636808e+09,1.636847e+09,2.0,2003611.0,NaN,NaN,NaN
356,389,"[{'id': 800, 'main': 'Clear', 'description': '...",stations,10000.0,1.636826e+09,7200.0,352628.0,Ma≈£ƒÅy,200,30.7792,...,10.69,0.0,EG,1.636777e+09,1.636816e+09,NaN,NaN,NaN,NaN,NaN
420,459,"[{'id': 800, 'main': 'Clear', 'description': '...",stations,10000.0,1.636826e+09,19800.0,1260938.0,Padampur,200,73.6167,...,3.20,0.0,IN,1.636767e+09,1.636805e+09,NaN,NaN,NaN,NaN,NaN

In [10]:
vacation_df['Hotel Name'] = ''

In [11]:
locations = []
for index, row in vacation_df.iterrows():
    locations.append(f"{row['coord.lat']}, {row['coord.lon']}")
print(locations)

['25.2867, 51.5333', '28.017, -97.5169', '29.4241, -98.4936', '28.419, 30.7792', '29.6833, 73.6167']

In [12]:
hotel_names = []
for location in locations:
    try:
        #Increase radius to try to get a response for last two cities
        target_radius = 10000
        target_type = "hotel"

# set up a parameters dictionary
        params = {
            "location": location,
            "keyword": "hotel",
            "radius": target_radius,
            "key": gmap_key
            }

        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

        response = requests.get(base_url, params = params).json()

        print(response['results'][0])
        
        hotel_names.append(response['results'][0]['name'])
    except:
        print(f'There does not seem to be any hotels nearby {location}')
        pass

{'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 25.2834733, 'lng': 51.5279732}, 'viewport': {'northeast': {'lat': 25.28492342989273, 'lng': 51.52927747989273}, 'southwest': {'lat': 25.28222377010728, 'lng': 51.52657782010728}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'icon_background_color': '#909CE1', 'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet', 'name': 'Mercure Grand Hotel Doha City Centre', 'opening_hours': {'open_now': True}, 'photos': [{'height': 1521, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107591700517185339616">Mercure Grand Hotel Doha City Centre</a>'], 'photo_reference': 'Aap_uEBzoHnr4fYfTtpjKhMNFd5qpOVWRqsu0XK6CSv3i55FT-ZOnk9bYhcsA8uKAVOa9q4b4e9gaEx5QxGH6-OUg9_PvhgI1P6H9gc91XBrbvxfrr8ApZGASm1TDRAAVNv8rAYXQXXG7DKbFtngVvcnMrEvGTXe_XTNa6v83WOE3aHFPSmx', 'width': 2281}], 'place_id': 'ChIJEz79RTnFRT4Ru1B_VIBozvk', 'plus_code': {'compound_code': '7GMH+95 Doha, Qatar', 'global_code': '7HQH7GMH+95'}, 'rating': 4, 'reference': 'ChIJEz79RTnFRT4Ru1B_VIBozvk', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'user_ratings_total': 1604, 'vicinity': 'Musherib Street Musherib Downtown, Doha'}
{'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 28.0285823, 'lng': -97.52950510000001}, 'viewport': {'northeast': {'lat': 28.02992117989272, 'lng': -97.52868277010728}, 'southwest': {'lat': 28.02722152010728, 'lng': -97.53138242989273}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'icon_background_color': '#909CE1', 'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet', 'name': 'Americas Best Value Inn Sinton', 'opening_hours': {'open_now': True}, 'photos': [{'height': 1294, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/115373936219591984118">A Google User</a>'], 'photo_reference': 'Aap_uEBEqHkIwISxFJx6I8IbJWSrjgrzFyt8nmioIRDStFyfDZKTM9I8yf1D_LinhJlaSWv6p9Ty9Nn-c24txTk5Y7kmRoJTmyUQFurArUbHKlLGG6yM-4kwO2VNk_9S80xFdelKa9uiGCos7h-q-QUX9a7M9GOdqpaijI2wE7zaCESL88Kq', 'width': 1642}], 'place_id': 'ChIJfUEkVnFsaIYROMi16pnMQBM', 'plus_code': {'compound_code': '2FHC+C5 Sinton, Texas', 'global_code': '76W42FHC+C5'}, 'rating': 3.4, 'reference': 'ChIJfUEkVnFsaIYROMi16pnMQBM', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'user_ratings_total': 97, 'vicinity': '8108 US-77, Sinton'}
{'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 29.4242727, 'lng': -98.492007}, 'viewport': {'northeast': {'lat': 29.42580582989272, 'lng': -98.49047922010728}, 'southwest': {'lat': 29.42310617010728, 'lng': -98.49317887989272}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'icon_background_color': '#909CE1', 'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet', 'name': 'Drury Plaza Hotel San Antonio Riverwalk', 'opening_hours': {'open_now': True}, 'photos': [{'height': 4000, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101578688962638790736">Drury Plaza Hotel Riverwalk San Antonio</a>'], 'photo_reference': 'Aap_uECn0nlCn2JF__juSu1oNPVSHuZkHbs-wfJlbxc_o86FqwXVnnp9WxSHJLzgEhVOlA-XmiFiDC_IF_TC7Nn43Bz2YTWgizl5KkLCmkwIZtIcfiHnSu4HVRkeZexA7e7wU_BT2Gtlghz2eoY8pnZuXdeJtdetveuiabhD0dpxzb0IyEVV', 'width': 6000}], 'place_id': 'ChIJOeCvNFNfXIYRn11BEYC6Eck', 'plus_code': {'compound_code': 'CGF5+P5 San Antonio, Texas', 'global_code': '76X3CGF5+P5'}, 'rating': 4.5, 'reference': 'ChIJOeCvNFNfXIYRn11BEYC6Eck', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'user_ratings_total': 3032, 'vicinity': "105 S St Mary's St, San Antonio"}
{'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 28.438089, 'lng': 30.689408}, 'viewport': {'northeast': {'lat': 28.43948132989271, 'lng': 30.69082057989272}, 'southwest': {'lat': 28.43678167010727, 'lng': 30.68812092010728}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'icon_background_color': '#909CE1', 'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet', 'name': 'ŸÜÿ¨ÿπ Ÿäÿßÿ≥ŸäŸÜ', 'opening_hours': {'open_now': True}, 'photos': [{'height': 3456, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105657461134166215612">ÿπÿ®ÿØÿßŸÑŸÜÿßÿµÿ± Ÿäÿßÿ≥ŸäŸÜ</a>'], 'photo_reference': 'Aap_uEBjtsZYYLAhKiKDffujDsHdTA9HuiKap4roSsHEhViqmhedk8pDQmz7-Qe5LHeMdEW1NPoFDGtMAW98k84x-6KDbSQJe3gLvKPCuOp6TWIeh0n-7rR8xV_ep6MQrYgxaKMSPZO2gO3NHdPSZPtF1zMJlKKWG3S3fi8QCJTMnSzTr99s', 'width': 4608}], 'place_id': 'ChIJd_SqFWwPWxQRvAivMrZyodg', 'plus_code': {'compound_code': 'CMQQ+6Q Matai, Egypt', 'global_code': '7GWGCMQQ+6Q'}, 'rating': 5, 'reference': 'ChIJd_SqFWwPWxQRvAivMrZyodg', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'user_ratings_total': 3, 'vicinity': 'Unnamed Roadÿå ÿ≠ŸÑŸàÿ©ÿå ŸÖÿ∑ÿßŸâÿå ÿßŸÑŸÖŸÜŸäÿßÿå'}
There does not seem to be any hotels nearby 29.6833, 73.6167

In [13]:
hotel_names.append('None Nearby')
hotel_names

['Mercure Grand Hotel Doha City Centre',
 'Americas Best Value Inn Sinton',
 'Drury Plaza Hotel San Antonio Riverwalk',
 'ŸÜÿ¨ÿπ Ÿäÿßÿ≥ŸäŸÜ',
 'None Nearby']

In [19]:
vacation_df['Hotel Names'] = hotel_names
hotel_df = pd.DataFrame()
hotel_df[['Hotel Name', 'City', 'Country']] = vacation_df[['Hotel Names', 'name', 'sys.country']]
print(hotel_df)

                                  Hotel Name          City Country
26      Mercure Grand Hotel Doha City Centre          Doha      QA
254           Americas Best Value Inn Sinton  San Patricio      US
266  Drury Plaza Hotel San Antonio Riverwalk   San Antonio      US
356                                ŸÜÿ¨ÿπ Ÿäÿßÿ≥ŸäŸÜ         Ma≈£ƒÅy      EG
420                              None Nearby      Padampur      IN

In [20]:

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations2 = vacation_df[["coord.lat", "coord.lon"]]

In [21]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations1, weights=humidity, dissipating=False, max_intensity=100, point_radius=2)
hotel_layer = gmaps.marker_layer(locations2, info_box_content=hotel_info )
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='420px'))